<h1>Artciles Tagged with <%= @tag.name %></h1>

<ul>
	<% @tag.articles.each do |article| %>
	<li><%= link_to article.title, article_path(article) %></li>
	<% end %>
	<br />
	<%= link_to "<< Back to Tag Index", tags_path %>
</ul>